.pagination {
    width: fit-content;
    width: -moz-fit-content;
}

.pagination-container{
    margin-top: 20px;
}

.pagination .page-item .page-link{
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;

    color: var(--blue-text);
    background: var(--halfwhite-gray);
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 10px;

    transition: .1s linear all;
}
.pagination .page-item .page-link:hover{
    background: rgba(0,0,0,.1); 
}


.pagination-container .page-input{
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 10px;
    width: 70px;
}

@media screen and (max-width:992px) {
    .pagination {
        margin-bottom: 150px;
    }
}